/*
CSS для сайта Bubble Under
*/
#tagline p {
	font-style: italic;
	font-family: Georgia, Times, serif;
	background-color: #bed8f3;
	border-top: 3px solid #7da5d8;
	border-bottom: 3px solid #7da5d8;
	padding-top: .2em;
	padding-bottom: .2em;
	padding-left: .8em;
	margin:0;
	background: #bed8f3 url(gallery/tagline-fade.jpg) repeat-y right;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: #e2edff; 
	line-height: 125%;
	padding: 0;
	margin: 0;
	}
	
h1, h2, h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
	font-size: x-large;
	background-color: navy;
	color: white;
	padding-top: 2em;
	padding-bottom: .2em;
	padding-left: .4em;
	margin: 0;
	background: navy url(gallery/header-bg.jpg) repeat-y right;
	}
	
h2 {
	font-size: 130%;
	color: navy;
	font-weight: normal;
	padding-top: 15px;
	}	

li {
	font-size: small;
	list-style-type: none;
}



p {
	font-size:small;
	color: navy;
}

a {
	font-weight: bold;
}

a:link {
	color: black;
	}
a:visited {
	color: navy;
}
a:hover {
	text-decoration: none;
	color: white;
	background-color: navy;
}
a:active {
	color: aqua;
	background-color: navy;
	}
	
.fun {
	color: #339999;
	font-family: Georgia, Times, serif;
	letter-spacing: 0.05em;
}

nav {
	width: 180px;
	background-color: #7da5d8;
}

h2, ul {
	margin-top: 15px;
}


/*
Этот раздел определяет размещение элементов на странице. Здесь использовано абсолютное
 позиционирование - координаты x и y контента заданы относительно левого верхнего угла
 браузера.
*/

nav, #bodycontent, header {
	position: absolute;
}

nav, #bodycontent {
	top: 6.54em;
		
}

nav {
	width: 180px;
	height: 484px;
	background: #7da5d8 url(gallery/nav-bg.jpg)
	}
nav a{
	text-shadow:1px 1px 2px white, -1px -1px 2px white;
	text-decoretion:none;
}

nav a:hover, nav a:focus {
	text-shadow:none;
}
/*nav ul {
	margin:0;
	padding-top:15px;
	}
*/


#bodycontent {
	left: 220px;
}

header {
	border-top: 3px solid #7da5d8;
}

header {
	width: 100%;
	
}

.feature {
	float: right;
	margin: 10px;
}

figure {
	display:block;
	padding-bottom: 10px;
	border-bottom:1px solid navy;
	margin-bottom: 20px;
	}

figcaption {
	display:block;
	font-size:65%;
	font-weight:bold;
	margin-top: 0;
	width:430px;
	line-height:1.4em;
}

figcaption span {
	font-weight:normal;
	color:gray;
}

figure img {
	border: 15px solid white;
	border-radius:10px;
	box-shadow:10px 10px 20px black;
	margin-bottom:10px;
}


.photocredit {
	font-weight: normal;
	color: gray;
}

table.events {
	border-collapse: collapse;
}

table.events th, table.events td  {
	padding: 4px;
	border: 1px solid #000066;
	
}

table.events th {
	font-size: x-small;
	text-align: left;
	background: #241374 url(gallery/header-bg.jpg);
	color: #ffffff;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 2px;
	padding-right: 2px;
}

table.events td {
	font-size: small;
	background: #e2edff url(gallery/td.jpg) repeat-x top;
}

table.events caption {
	color: #000066;
	font-size: small;
	text-align: left;
	padding-bottom: 5px;
	font-weight: bold;
}

form.contact {
	padding:0;
	margin:0;
	margin-top:-15px;
	line-height:150%;
}

form.contact fieldset {
	border: 2px solid navy;
	padding: 10px;
}

form.contact legend {
	font-weight: bold;
	font-size: small;
	color: navy;
	padding: 5px;
}

form.contact label{
	font-weight: bold;
	font-size: small;
	color: blue;
}

form.contact label.fixedwidth {
	display: block;
	width: 240px;
	float: left;
}

form.contact .buttonarea input {
	background: navy;
	color: white;
	font-weight: bold;
	padding: 5px;
	border: 1px solid white;
}

form.contact .buttonarea {
	text-align: center;
	padding: 4px;
	background-color: #0066ff;
}

aside {
	display: block;
	float:right;
	margin:10px;
	padding:10px;
	width:30%;
	background:white;
	font-style:italic;
	color:gray;
	border:2px solid gray;	
	border-radius:5px;
}

aside blockquote {
	font-size:1.2em;
	line-height:1.4;
	margin:0 0 0.5em 0;
	font-style:normal;
	color:#006;
}